.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.wrapper > div {
  flex: 0 0 333px;
}

.wrapper img
{
  height: 290px;
  object-fit: contain;
  background-color: white;
}